:root {
    --accent-color: hsl(5, 100%, 69%);
    --background-color: hsl(225, 41%, 31%);
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background-color);
    color: hsl(0, 0%, 100%);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0.75em;
}

.accent-color {
    color: var(--accent-color);
}

@media only screen and (max-width: 1023px) {
    h1, p {
        text-align: center;
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375em;
    font-size: 1.5em;
    background-color: hsl(0, 0%, 100%);
    color: var(--background-color);
    font-weight: 700;
    text-decoration: none;
    padding: 1em 0.5em;
    border-radius: 0.375rem;
}

@media only screen and (max-width: 1023px) {
    a {
        padding: 0.5em 0.5em;
    }
}

a > svg {
    height: 28px;
}

a.outlined {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%);
}

.code-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@media only screen and (max-width: 1023px) {
    .code-blocks {
        grid-template-columns: 1fr;
    }
}

.code {
    background-color: hsl(218, 18%, 12%);
    color: hsl(0, 0%, 80%);
    padding: 1em;
    border-radius: 0.375rem;
    font-family: monospace, var(--font-family);
    font-size: 13px;
    overflow-x: auto;
    white-space: nowrap;
}

@media only screen and (max-width: 1023px) {
    .code {
        font-size: 12px;
    }
}

.code-purple {
    color: #c486c0;
}

.code-lightblue {
    color: #93cded;
}

.code-blue {
    color: #569bd5;
}

.code-orange {
    color: #cd9077;
}

.code-yellow {
    color: #dadaa9;
}

.code-teal {
    color: #4ec9b0;
}
